<mat-toolbar class="mat-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Prueba LickTic</span>
</mat-toolbar>

<mat-sidenav-container class="app-container">
  <mat-sidenav
    #sidenav
    mode="side"
    [class.mat-elevation-z4]="true"
    class="app-sidenav"
  >
    <mat-nav-list>
      <a mat-list-item (click)="toggleClientList()">
        <mat-icon>person</mat-icon><span> Usuarios</span>
      </a>
      <a mat-list-item (click)="toggleProductsList()">
        <mat-icon>shopping_cart</mat-icon><span> Productos</span>
      </a>
      <a mat-list-item (click)="toggleOrderList()">
        <mat-icon>history</mat-icon><span> Clients look history</span>
      </a>
      <a mat-list-item>
        <mat-icon>fiber_pin</mat-icon><span> Emergency PIN configuration</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="app-sidenav-content">
      <app-list *ngIf="showClientList"></app-list>
      <app-list-product *ngIf="showProductList"></app-list-product>
      <app-list-order *ngIf="showOrderList"></app-list-order>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
